/*
    NOTRE-EQUIPE CSS STYLESHEET FOR L'AUTRE ESTAMINET
    Probably Temporary
    Started on 02 December 2015

    Design by Zach Dettwiler
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400&Roboto:300,400);

*
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}


html, body
{
    background-color: #2ecb71;
}

#bg
{
    width: 100%;
    min-height: 80%;
    margin: 0px;
    background: url(../img/home/notre_equipe_home_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#equipe-descr
{
    width: 60%;
    margin: 70px auto 10px;
    padding: 20px;
}

#equipe-permanent
{
    width: 70%;
    margin: auto;
}

.equipe-volunteer
{
    width: 200px;
    margin-top: 20px;
    background-color: #4CED91;
	padding: 10px;
}
.equipe-volunteer-flag
{
	height: 15px;
	margin-bottom: 4px;
}
.equipe-volunteer-date
{
	margin: 0;
	font-size: 13px;
	font-style: italic;
}
.equipe-volunteer-img
{
    /*width: 150px;*/
    height: 150px;
	margin: auto;
	display: block;
}
.equipe-volunteer-img.passed
{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
.equipe-volunteer-blurb
{
    font-size: 16px;
    line-height: 20px;
}
