# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
storage/
.env.*.php
.env.php
.env
.env.example

# Mine
laravel/vendor
laravel/node_modules
laravel/Homestead.yaml
laravel/Homestead.json
laravel/.env

public_html/img

lautrees_db.sql
